body{
    font-family: "Bai Jamjuree", sans-serif;
    Font-size: 18px;
}
:root{
    --color1:hsl(171, 66%, 44%);
    --color2:hsl(233, 100%, 69%);
    --color3:hsl(210, 10%, 33%);
    --color4: hsl(201, 11%, 66%);
}
html{
    scroll-behavior: smooth;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.header{
   background-image: url(../images/bg-header-desktop.png);
   background-size:cover ;
   text-align: center;
   padding: 40px  20px;

}

.header p,
.section4 p{
    font-size: 14px;
    color: var(--color4);
    margin-bottom: 40px;
}
.header .ios,
.section4 .ios{
    background-color: var(--color1);
    color: white;
    border-radius: 20px;
    padding: 8px 14px;
    margin-right: 7px;
}
.header .mac,
.section4 .mac{
    background-color: var(--color2);
    color: white;
    border-radius: 20px;
    padding: 8px 14px;
}
.header .ios:hover,
.section4 .ios:hover{
background-color:hsl(171, 36%, 59%) ;
}
.header .mac:hover,
.section4 .mac:hover{
background-color:hsl(233, 94%, 74%) ;
}
.section1 .part1,
.section2 .part1{
   text-align: center;
    margin: 70px auto 40px;
    max-width: 450px;
}
.section1 .part1 p,
.section2 .part1 p,
.section3 .container p,
.section3 .container1 div p{
    font-size: 13px;
    color: var(--color4);
    margin-bottom: 80px;
}
.section1 .part1 p{
    max-width: 400px;
}
.section1 .part2{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}
.section1 .part2 img{
    width:45% ;
   margin-left: -5%;
}
.section1 .part2 .part3 {
    margin-right: 10%;
}
.section1 .part2 .part3 div{
margin-bottom: 15px;
max-width: 50%;
}
.section1 .part2 .part3 div p{
    font-size: 14px;
    color: var(--color4);
  
}
.section2{
    text-align: center;
}
.section3{
    margin: 30px 90px;
}
.section3 .container{
    text-align: center;
}
.section3 .container1{
    display: flex;
    justify-content: space-between;
}
.section3 .container1 div{
text-align: center;
max-width: 350px;
}
.section3 .container2{
display: flex;
justify-content: space-between;

}
.section3 .container2 img{
    width: 80px;
   
}
.section4{
    text-align: center;
    margin: 120px auto;
    max-width: 450px;
} 
.footer{
    background-color: #eee;
    display: flex;
    line-height: 2;
    padding: 20px 70px;
    justify-content: space-between;
    align-items: center;
}
.footer .part1{
    max-width: 450px;
    
}
.footer .part1 a{
padding-right: 50px;
padding-bottom: 30px;
color: var(--color4);
}
.footer .img1{
    width: 50px;
}
.footer .part2 a{
margin-right: 15px;
}
.footer .part1 a:hover{
color: var(--color1);
}
/*.footer .part2 a img:hover {
    color: var(--color1);
}*/
@media(max-width:1440px)
{
    .header a,
    .section4 a{
        display: block;
        margin-bottom: 10px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .section1 .part2{
        display: flex;
       flex-direction: column;
    }
    .section1 .part2 img{
width: 80%;
margin-left: 0;
    }
    .section1 .part2 .part3{
        text-align: center;
        margin-right: 0;
    }
    .section1 .part2 .part3 div{
        max-width: 90%;
    }
    .section2 img{
max-width: 60%;
    }
    .section3 .container1{
        flex-direction: column;
    }
    .section3 .container2{
        flex-direction: column;
        margin-left: 30px;
    }
    .section3 .container2 img{
       margin-bottom: 40px;
    }
.footer{
    flex-direction: column;
    text-align: center;
}
.footer .part1 a{
    display: block;
}
.footer .part1{
    padding-left: 35px;
}
.footer .img1{
    padding-bottom: 10px;
    
}
}